#left-ear,
#right-ear {
  transition: all .5s linear;
}

#bear:hover #left-ear,
#bear:hover #right-ear {
  transform: translate(0, -10px);
}

#left-eye,
#right-eye {
  animation: eye-move 3s linear infinite alternate;
  transform: translateX(0);
}

@keyframes eye-move {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(10px);
  }

}
